@import "../../index.scss";

.login {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginContainer {
    min-height: 600px;

    & > div {
      padding: 3rem;
    }
    .left {
      color: var(--chakra-color-white);
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../assets/image/login-1.jpg");
      background-size: cover;

      h1 {
        font-size: 2.5rem;
      }
      div {
        letter-spacing: 1px;
        gap: 2rem;
      }
    }
    .right {
      color: var(--chakra-color-black);
      background-color: var(--chakra-color-white);
    }
  }
}
