@import "../../index.scss";

.login {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginContainer {
    min-height: 600px;
    .left {
      display: flex;
      gap: 3rem;
      flex-direction: column;
      padding: 3rem;
      height: 100%;
      color: white;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../../assets/image/login-1.jpg");
      background-size: cover;
    }
    .right {
      height: 100%;
      color: white;
    }
  }
}
