@import "../../index.scss";

.leftBar {
  width: 100%;
  top: 60px;
  height: calc(100vh - 60px);
  background-color: var(--color-bg);
  border-right: 1px solid var(--chakra-color-gray-300);
  .iconLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem 4rem;
    cursor: pointer;
    &:hover {
      background-color: var(--chakra-color-gray-400);
    }
  }
}
