@import "../../index.scss";

.form {
  height: 100%;
  text-align: center;
  color: var(--chakra-color-gray-500);

  .btnContainer {
    margin-top: 5rem;
    a {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
      margin-bottom: 1.25rem;
      &:hover {
        color: var(--chakra-color-gray-800);
      }
    }
  }
}
