@import "../../../index.scss";

.button {
  width: 100%;
  padding: 1.5rem 4rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.button.loginBtn {
  background-color: var(--white);
  color: var(--black);
  transition: all 0.3s;

  &:hover {
    color: var(--white);
    background-color: var(--black);
  }
}
