@import "../../../index.scss";

.button {
  width: 100%;
  padding: 1.5rem 4rem;
  border: none;
  background: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.button.loginBtn {
  background-color: var(--chakra-color-white);
  color: var(--chakra-color-black);
  border: 1.2px solid var(--chakra-color-white);

  &:hover {
    color: var(--chakra-color-white);
    background-color: var(--chakra-color-black);
  }
}
