@import "../../index.scss";

.navbar {
  padding: 1rem 14rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
  border-bottom: 1px solid var(--chakra-color-gray-300);
  color: var(--color-primary);
  position: sticky;
  background-color: var(--color-bg);
  top: 0;
  z-index: 100;

  a {
    text-decoration: none;
    color: inherit;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    .search {
      position: relative;
      svg {
        top: 0;
        right: 0;
        position: absolute;
      }
      input {
        border: none;
        border: 1px solid var(--chakra-color-gray-300);
        border-radius: 5px;
        padding: 0.325rem;
      }
    }

    a {
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    svg {
      cursor: pointer;
      &:hover {
        fill: var(--chakra-color-gray-500);
      }
    }
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 100px;
    }
  }
}
