@import "../../index.scss";

.navbar {
  @include themify($themes) {
    padding: 1.25rem;
    color: themed("textColor");
    background-color: themed("bg");
    svg {
      cursor: pointer;
    }
  }
}
