@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --chakra-color-white: #fff;
  --chakra-color-black: #000;
  --chakra-color-red: #c92a2a;
  --chakra-color-gray-50: #f8f9fa;
  --chakra-color-gray-100: #f1f3f5;
  --chakra-color-gray-200: #e9ecef;
  --chakra-color-gray-300: #dee2e6;
  --chakra-color-gray-400: #ced4da;
  --chakra-color-gray-500: #adb5bd;
  --chakra-color-gray-600: #868e96;
  --chakra-color-gray-700: #495057;
  --chakra-color-gray-800: #343a40;
  --color-primary: #212529;
  --color-bg: #f8f9fa;
  --color-bg-100: #f1f3f5;
  --default-transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

html {
  font-family: "Chivo", sans-serif;
}

html.dark {
  color-scheme: dark;
  --color-primary: #f8f9fa;
  --color-bg: #212529;
  --color-bg-100: #343a40;
}

body {
  background-color: var(--color-bg-100);
  transition: var(--default-transition);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

.flex-column-spaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-columns-1 {
  display: grid;
  grid-template-rows: auto 1fr;
}

.gap-small {
  gap: 1rem;
}
