*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

:root {
  --white: #f8f9fa;
  --black: #212529;
  --primary: #212529;
  --primary-2: #ffd43b;
  --bg: #f8f9fa;
  --default-border-radius: 6px;
  --default-transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

html.dark {
  color-scheme: dark;
}

.dark {
  --primary: #f8f9fa;
  --primary-2: #ffd43b;
  --bg: #212529;
}

body {
  background-color: var(--bg);
  transition: var(--default-transition);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
